
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 main{
    background-color: hsl(221, 44%, 92%);

    border: 2px;
    width: 100vw;
    padding:  130px 150px;
    display: flex;
    justify-content: center;
 }
 section{
    padding: 20px;
    display: flex;
    width: 300px;
    border: 2px solid white;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
 }
 div img{
    width: 250px;
    border: 2px solid hsl(217, 71%, 50%);
    border-radius: 10px;
    
 }
 div p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:   15px;
    text-align: center;
   
 }
 .para1{
    font-weight: bold;
    font-size:20px;
    width: 270px;
 }

 .para2{
font-size: 14px;
color: hsl(210, 6%, 46%);
 width: 250px;
 }
 
@media screen  and (max-width:375px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
     }
     main{
        background-color: hsl(221, 44%, 92%);
    
        border: 2px;
        width: 100vw;
        padding:  200px 50px;
        display: flex;
        justify-content: center;
     }
     section{
        padding: 15px;
        display: flex;
        width: 250px;
        border: 2px solid white;
        border-radius: 20px;
        flex-direction: column;
        align-items: center;
        background-color: hsl(0, 0%, 100%);
     }
     div img{
        width: 200px;
        
        border: 2px solid hsl(217, 71%, 50%);
        border-radius: 10px;
     }
     div p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 8px;
        text-align: center;
         
     }
     .para1{
        font-weight: bold;
        font-size:15px;
        width: 200px;
     }
    
     .para2{
    font-size: 10px;
    color: hsl(210, 6%, 46%);
    width: 200px;
     }
     
}
























 